body{
    color: white;
}


body::after {
    background-image: url('../img/background.jpg');

    background-size: cover;
    background-position: center;

    opacity: 0.8;
    content: "";

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}
